h1 {
    font-family: 'Roboto', sans-serif;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

@media (max-width: 870px) {
    .bd-placeholder-img {
        height: 400px;
    }
}

@media (max-width: 550px) {
    .bd-placeholder-img {
        height: 450px;
    }
}