/* <div div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                        aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
                        aria-current="true"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                        class=""></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="text-center">
                            <img src={gambar1} class="rounded img-fluid w-100 " alt="gambar1"></img>
                        </div>
                        <svg class="bd-placeholder-img" width="100%" height="350px" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#292b2c"></rect>
                        </svg>
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>Hello, I ‘am Bagas Syaffurqon</h1>
                                <p> I am from sumbawa and I am a final semester informatics
                                    engineering student at Muhammadiyah University, Surakarta During
                                    college I learned the basic programming languages html, php,
                                    java script, and python but I prefer learning to make web
                                    designs. And that’s why I wanted to join glint’s academy program
                                    because is an opportunity to learn to become a professional
                                    front end web developer.</p>
                                <p><a class="btn btn-lg btn-primary" href="#contact">Contact Me</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="text-center">
                            <img src={gambar2} class="rounded img-fluid w-100" alt="gambar2"></img>
                        </div>
                        <svg class="bd-placeholder-img" width="100%" height="350px" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#292b2c"></rect>
                        </svg>

                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Part Of BUMN Certificed Student Internship Program 2020 Batch I</h1>
                                <p> Is a program that aims to provide enrichment of students' insights and skills to prepare
                                    and create
                                    superior Indonesian human resources, especially in facing global competition through
                                    link and match
                                    curriculum for industry and tertiary institutions.</p>
                                <p><a class="btn btn-lg btn-primary" href="#contact">Contact Me</a></p>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="text-center">
                            <img src={gambar3} class="rounded img-fluid w-100" alt="gambar3"></img>
                        </div>
                        <svg class="bd-placeholder-img" width="100%" height="350px"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#292b2c"></rect>
                        </svg>

                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>Participating In The Bali International Choir Sestival 2018 </h1>
                                <p>is an annual event that brings together choir teams from Indonesia and
                                    abroad.They want
                                    to
                                    gain
                                    experience performing and competing in international choirs in Bali, which
                                    has become an
                                    icon of
                                    Indonesian tourism.Psm Voca Al Kindi Muhammdiyah University, Surakarta
                                    managed to get 2
                                    gold medals in
                                    the competition.</p>
                                <p><a class="btn btn-lg btn-primary" href="#contact">Contact Me</a></p>

                            </div>
                        </div>
                    </div>
                    <button class=" carousel-control-prev p-sm-0" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next p-sm-0" type="button"
                        data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div >
            </div> */